@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@font-face{
    font-family: 'Arista';
    src: url('..fontes/arista.otf') format('opentype');
    font-weight: lighter;
}

:root{
    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
    --fonte-outra: "Gravitas One", serif;
    --fonte-arista: 'Arista', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header > h1{
    color: rgb(129, 47, 47);
    font-family: var(--fonte-outra);
}